<h1 class="jumbotron">Welcome, {{userInput}}</h1>
<div class="container">
  <form>
    <label for="user"><i>Current User:</i></label>
    <input [(ngModel)]="userInput" type="text" name="user">
  </form>
  <hr>
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>

  <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>

  <hr>

  <app-edit-task [selectedTask] = "selectedTask" (clickDone) = "finishedEditing()"></app-edit-task>

  <app-new-task (sendTask) = "addTask($event)"></app-new-task>

</div>